.container {
  padding-bottom: 30px;
  padding-top: 30px;
}

.icons {
  align-items: center;
  display: flex;
  justify-content: center;
}

.link {
  margin: 10px;
}

.icon {
  path {
    fill: #5e8284;
    opacity: 0.7;
  }
}

.privacy.privacy {
  color: #5e8284;
  display: block;
  font-size: 13px;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}
