@use "@/styles/mixins";
@use "@/features/post/Posts.module.scss";

.outer-container {
  // display: flex;
  @include Posts.container;
}

.container {
  @include Posts.articles;
}

.tag {
  font-size: 2rem;

  @include mixins.rwd(sm) {
    font-size: 1.6rem;
  }
  @include mixins.rwd(md) {
    font-size: 1.33rem;
  }
  @include mixins.rwd(md) {
    font-size: 1.1rem;
  }

  &:not(:last-child) {
    margin-right: 0.5rem;

    &::after {
      content: ",";
    }
  }
}

.footer {
  padding-top: 3.75rem;

  @include mixins.rwd(sm) {
    align-self: flex-start;
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .tag {
    color: #a9babc;
  }
}

.tag-header {
  color: #d16221;
  display: inline;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-right: 0.5rem;
  text-transform: uppercase;
  @include mixins.rwd(sm) {
    font-size: 1.3rem;
  }
  @include mixins.rwd(md) {
    font-size: 1.1rem;
  }
  @include mixins.rwd(md) {
    font-size: 0.9rem;
  }
}

.pencil {
  margin-bottom: 3.75rem;
  @include mixins.rwd(sm) {
    max-width: 360px;
  }
}
