@use '@/styles/mixins';

@mixin container {
  display: flex;
  margin: 0 auto;
  max-width: calc(1500px + (var(--main-container-padding) * 2));
}

@mixin articles {
  overflow: hidden;
  padding: 0 1.25rem;
  @include mixins.rwd(md) {
    padding-left: var(--main-container-padding);
    padding-right: var(--main-container-padding);
    padding-top: 3rem;
    width: 66.6%;
  }
}

.outer-container {
  @include container;
}

.container {
  @include articles;
}
