.container {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
  margin-bottom: 6.25rem;
  padding: 6.25rem 0;
  width: 100%;
}

.header {
  padding: 0 30px;
  text-align: center;
}

.tag {
  flex-grow: 1;
  font-size: 1.625rem;
  font-weight: bold;
  letter-spacing: 0.125rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  .tag {
    color: #d16221;
  }
}

.title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  word-wrap: break-word;
}

.time {
  color: #b9b9b9;
  font-size: 2rem;
}

.content {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 1.875rem;
  -webkit-line-clamp: 8;
  line-height: 3.5rem;
  margin-top: 2.75rem;
  overflow: hidden;
  padding: 0 30px;
  text-overflow: ellipsis;
}

.continue {
  color: #b9b9b9;
  font-size: 2.25rem;
  margin-top: 1.25rem;
  text-align: center;
  transition: coloer 0.2s;
  &::after {
    content: "→";
    margin-left: 1rem;
  }
}
