@use "mixins";

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

// 8/16 = 50%
// 9/16 = 56.25%
// 1rem == 10px, 10px/16px = 62.5%
// 12/16 = 75%

html {
  font-size: 50%;

  @include mixins.rwd(sm) {
    font-size: 62.5%;
  }

  @include mixins.rwd(md) {
    font-size: 75%;
  }

  @include mixins.rwd(l) {
    font-size: 87.5%;
  }

  // @include mixins.rwd(xl) {
  //   font-size: 100%;
  // }
}

body {
  background-color: rgb(189 203 204);
  box-sizing: border-box;
  @include mixins.rwd(sm) {
    padding: 0;
  }

  &::before {
    @include mixins.rwd(sm) {
      background: radial-gradient(
        ellipse at center,
        rgb(255 255 255 / 50%) 0%,
        rgb(255 255 255 / 0%) 50%,
        rgb(255 255 255 / 0%) 100%
      );
      content: "";
      display: block;
      height: 1000px;
      left: 50%;
      margin-left: -500px;
      max-width: 100%;
      position: absolute;
      top: -460px;
      width: 1000px;
      z-index: -1;
    }
  }
}

a {
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

/* Removes discs from ul */
ul {
  list-style: none;
}

// Forms and buttons
input,
textarea,
select,
button {
  border: 0 none;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

button {
  background-color: transparent;
  border: 0 none;
  outline: none;
}

body,
button,
input,
select,
textarea {
  color: #777;
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-transform: capitalize;
}
