.paperclip {
  fill: #aaa;
  height: 10rem;
  transform: rotate(-10deg);
  width: 3rem;
}

.pencil-sharpener {
  fill: rgba(0, 0, 48, 0.795);
  transform: rotate(80deg);
  width: auto;
  .sharpener0 {
    fill: #939393;
  }
  .sharpener1 {
    fill: #565656;
  }
  .sharpener2 {
    fill: #c1c1c1;
  }
  .sharpener3 {
    fill: #fff;
  }
}

.little-pencil {
  display: block;
  height: 4.5rem;
  margin: 0 auto;
  max-width: 70%;
  width: 52rem;
  .pencil-little0 {
    fill: #edcfcf;
  }
  .pencil-little1 {
    fill: #eaeaea;
  }
  .pencil-little2 {
    fill: #ddb612;
  }
  .pencil-little3 {
    fill: #fff;
    opacity: 0.5;
  }
  .pencil-little4 {
    fill: #5b5950;
    opacity: 0.2;
  }
  .pencil-little5 {
    fill: #f9f6e7;
  }
  .pencil-little6 {
    fill: #4f4f4f;
  }
}
