@use '@/styles/mixins';

$container-margin: 1.25rem;
$list-border-color: rgba(255, 255, 255, 0.2);

.list {
  border-bottom: 1px solid $list-border-color;
}

.list-item {
  @include mixins.hide-long-text;

  border-top: 1px solid $list-border-color;
  padding: 0.375rem 0;
  text-transform: capitalize;
  a {
    color: inherit;
    font-size: 1.625rem;
    @include mixins.rwd(md) {
      font-size: 1.33rem;
    }
    @include mixins.rwd(l) {
      font-size: 1.15rem;
    }
  }
}

.container {
  @include mixins.fade-in;

  box-shadow: 1px 1px 2px rgb(0 0 0 / 10%);
  left: 0;
  margin: $container-margin;
  max-height: calc(100vh - var(--tabber-height) - (#{$container-margin} * 2));
  overflow-y: auto;
  padding: var(--widget-padding);
  @include mixins.rwd(md) {
    $container-margin: 2rem;

    animation: none;
    margin-bottom: $container-margin;
    margin-top: $container-margin;
    max-height: calc(100vh - var(--tabber-height) - (#{$container-margin} * 2));
  }

  &.general {
    background-color: rgb(83, 115, 117);
    color: white;
    @include mixins.rwd(md) {
      background-color: rgba(83, 115, 117, 0.8);
    }
  }
  &.pink {
    background-color: #fbe0e0;
    color: #a86767;
    .list,
    .list-item {
      border-color: #e0c8c8;
    }
  }
}

.title {
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 2.5rem;
  @include mixins.rwd(md) {
    font-size: 2rem;
    margin-bottom: 1.75rem;
  }
  @include mixins.rwd(l) {
    font-size: 1.8rem;
  }
}
