@use "@/styles/mixins";

$result-padding-top: 3px;

.container {
  @include mixins.fade-in;

  background-color: #f9f6e7;
  background-image: linear-gradient(rgb(54 133 221 / 30%) 1px, transparent 1px);
  background-position: 100px 100px;
  background-size: 30px 30px;
  margin: 1.25rem;
  padding: var(--widget-padding);
  @include mixins.rwd(md) {
    animation: none;
    margin-top: 0;
  }
}

.form {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  display: flex;
  position: relative;
  @include mixins.rwd(l) {
    font-size: 1.3rem;
  }

  &:focus-within {
    border-color: #2c48b3;
  }
}

.label {
  border-radius: inherit;
  display: flex;
  flex-grow: 1;
  position: relative;
}

.text {
  overflow: hidden;
  position: absolute;
  text-transform: capitalize;
  width: 0;
}

.keyword {
  appearance: none;
  border-radius: inherit;
  color: #666;
  display: flex;
  flex-grow: 1;
  font-size: 2.25rem;
  height: 40px;
  outline: none;
  padding: $result-padding-top 8px;
  width: 100%;
  @include mixins.rwd(md) {
    font-size: 1.5rem;
  }
  @include mixins.rwd(l) {
    font-size: 1.3rem;
  }

  &::placeholder {
    font-style: italic;
  }
}

.submit {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 40px;
}

.search {
  height: 24px;
  opacity: 0.5;
  width: 24px;
}

.results {
  background-color: white;
  border-radius: inherit;
  display: block;
  font-size: 2.25rem;
  left: 0;
  max-height: 800%;
  overflow-y: auto;
  position: absolute;
  top: calc(100% + 1px);
  width: 100%;
  @include mixins.rwd(md) {
    font-size: 1.5rem;
  }
  @include mixins.rwd(l) {
    font-size: 1.3rem;
  }
}

.result {
  @include mixins.hide-long-text;

  color: inherit;
  display: block;
  padding: $result-padding-top 8px;
}
