@use '@/styles/mixins';

.container {
  background-color: #f9f6e7;
  background-image: linear-gradient(
    rgba(54, 133, 221, 0.3) 1px,
    transparent 1px
  );
  background-position: 100px 100px;
  background-size: 30px 30px;
  margin: 1.25rem;
  padding: var(--widget-padding);
  // width: 100%;
  // @include mixins.rwd(xs) {
  //   padding: 20px;
  // }
  form {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    display: flex;
    &:focus-within {
      border-color: #2c48b3;
    }
  }
  label {
    border-radius: inherit;
    display: flex;
    flex-grow: 1;
    position: relative;
  }
  span {
    overflow: hidden;
    position: absolute;
    text-transform: capitalize;
    width: 0;
  }
  input {
    appearance: none;
    border-radius: inherit;
    color: #666;
    display: flex;
    flex-grow: 1;
    font-size: 2.25rem;
    height: 5rem;
    outline: none;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
    &::placeholder {
      font-style: italic;
    }
  }
  button {
    width: 5rem;
    .search {
      height: 3rem;
      opacity: 0.5;
      width: 3rem;
    }
  }
}
