@use "@/styles/mixins";

.container {
  align-items: center;
  background-color: white;
  bottom: 0;
  display: flex;
  height: var(--tabber-height);
  justify-content: space-around;
  position: fixed;
  transition: transform 0.3s;
  width: 100%;
  z-index: 2;
  @include mixins.rwd(md) {
    display: none;
  }

  &.conceal {
    transform: translateY(100%);
  }
}

.image {
  opacity: 0.53;
  padding: 0.5rem;

  &.active {
    opacity: 1;
  }
}
