// media query manager

/*
0 - 600px: xs(phone)
600 - 900px: sm(tablet portrait)
900 -1200px: md(tablet landscape)
1200 - 1800px: default style(desktop first approach)
1800px +: xl(Big screen)
*/

@mixin rwd($breakpoint) {
  @if $breakpoint == sm {
    @media only screen and (min-width: 37.5em) {
      @content;
    } // 600px
  } @else if $breakpoint == md {
    @media only screen and (min-width: 56.25em) {
      @content;
    } // 900px
  } @else if $breakpoint == l {
    @media only screen and (min-width: 75em) {
      @content;
    } // 1200px
  } @else if $breakpoint == xl {
    @media only screen and (min-width: 112.5em) {
      @content;
    } // 1800px
  }
}

@mixin fade-in {
  animation: fadeIn ease 0.3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
